<%= simple_form_for(@banner, as: "banner", url: @banner.new_record? ? admin_banners_path : admin_banner_path(@banner), html: {class: "form-horizontal"}) do |f| %>
<% @banner.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
<%= f.input :name, label: '名称' %>
<%= f.input :image, label: '图片' %>

<div class="control-group">
  <div class="controls">
    <%= f.button :submit, "保存" %>
  </div>
</div>
<% end %>