<div class="site">
  <div class="site-container">    
    <div id="skip-link">
      <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <%= render "header" %>
    <header class="page-title" style="background-image: url('http://www.vegansociety.com/sites/default/files/whats-new.jpg');">
      <div class="skew">
        <div class="container">
          <h1>
            <%= @node.title %> 
          </h1>
        </div>
      </div>
    </header>
    <section class="page basic">  
      <div class="container">
        <div class="page-content">
          <div class="custom-breadcrumbs">
            <h2 class="element-invisible">你在这：</h2>
            <div class="breadcrumb">
              <a href="/">首页</a>
              <% @node.ancestors[1, 100].each do |parent| %>
              » <a href="/nodes/<%= parent.id %>"><%= parent.title %></a>
              <% end %>
            </div> » <%= @node.title %>            
          </div>
          <div class="region region-content">
            <div id="node-<%= @node.id %>" class="node node-campaign node-promoted node-full clearfix" about="/whats-new/campaigns/love-vegan" typeof="sioc:Item foaf:Document">
              <div class="content clearfix">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                  <div class="field-items">
                    <div class="field-item even" property="content:encoded">
                      <%= raw @node.content %>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>

        <aside class="page-sidebar--right">
          <div class="sub-nav"> 
            <div class="region region-sidebar-menu">
              <h2>什么是新的?</h2>

              <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-2">
                <ul class="menu clearfix"><li class="first expanded active-trail menu-mlid-2030"><a href="/whats-new/campaigns" title="" class="active-trail">活动</a><ul class="menu clearfix"><li class="first leaf active-trail active menu-mlid-2382"><a href="/whats-new/campaigns/love-vegan" title="" class="active-trail active">热爱素食生活</a></li>
                  <li class="leaf menu-mlid-2547"><a href="/node/671/ask-evidence" title="">一切基于证据</a></li>
                  <li class="leaf menu-mlid-1087"><a href="/whats-new/campaigns/70th-anniversary" title="">70周年</a></li>
                  <li class="last leaf menu-mlid-1088"><a href="/whats-new/campaigns/enough-food-everyone-if" title="">IF 致力于让每个人丰衣足食/a></li>
                </ul></li>
                <li class="collapsed menu-mlid-1037"><a href="/whats-new/events" title="">事件</a></li>
                <li class="last leaf menu-mlid-1916"><a href="/whats-new/jobs" title="">工作</a></li>
              </ul></div>
            </div>
          </div>
          <div class="banner__panel">
            <div class="region region-sidebar-banners">
              <div id="banner"><a class="link" href="/shop/supplements"><%= image_tag "origin/VEG1_426_new.png", alt:"The Vegan Shop" %></a>
              </div>  
            </div>
          </div>        
        </aside>
      </div>
    </section>
    <%= render "info_social" %>
    <%= render "footer" %>
  </div>
  <%= render "mobile_nav_list" %>
  <%= javascript_include_tag 'origin/js_Dpwj9_' %> 
</div>
<%= render "cbox_overlay" %>