<div class="site">
  <div class="site-container">    
    <div id="skip-link">
      <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <%= render "header" %>
    <header class="page-title" style="background-image: url('http://www.vegansociety.com/sites/default/files/whats-new.jpg');">
      <div class="skew">
        <div class="container">
          <h1>
            <%= @node.title %>       
          </h1>
        </div>
      </div>
    </header>
    <section class="page">  
      <div class="container">
        <div class="page-content">
          <div class="custom-breadcrumbs">
            <h2 class="element-invisible">你在这：</h2>
            <div class="breadcrumb">
              <a href="/">首页</a>
              <% if @node.ancestors[1, 100].present? %>
              <% @node.ancestors[1, 100].each do |parent| %>
              » <a href="/nodes/<%= parent.id %>"><%= parent.title %></a>
              <% end %>
              <% end %>
            </div> » <%= @node.title %>      
          </div>

          <div class="block-list list3">
            <div class="region region-content">



              <% @node.children.each do |node| %>
              <div id="node-<%= node.id %>" class="node node-list-events node-promoted node-full clearfix" about="/whats-new/events" typeof="sioc:Item foaf:Document">
                <div class="content clearfix">
                  <div class="block-list__panel">
                    <div class="block-list__image">
                      <a href="/nodes/<%= node.id %>"><%= image_tag node.cover_url(:on_use), width: 724, height: 352, typeof: "foaf:Image" %></a>
                    </div>  
                    <div class="block-list__inner-container">

                      <div class="block-list__date">
                        <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2014-09-27T00:00:00+01:00"></span>  
                      </div>  
                      <h2 class="block-list__title">
                        <a href="/nodes/<%= node.id %>"><%= node.title %></a> 
                      </h2> 
                      <div class="block-list__excerpt">
                        <p><%= node.desc %><a href="/nodes/<%= node.id %>" class="more-link">(阅读更多)</a></p> 
                      </div>
                    </div>  
                  </div>
                </div>
              </div>
              <% end %>
              
            </div>
          </div>
        </div>

        <aside class="page-sidebar--right">
          <div class="sub-nav"> 
            <div class="region region-sidebar-menu">
              <h2>什么是新的？</h2>

              <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-2">
                <ul class="menu clearfix"><li class="first collapsed menu-mlid-2030"><a href="/whats-new/campaigns" title="">活动</a></li>
                  <li class="expanded active-trail active menu-mlid-1037"><a href="/whats-new/events" title="" class="active-trail active">事件</a><ul class="menu clearfix"><li class="first last leaf menu-mlid-2560"><a href="/node/42/past-events" title="">Past Events</a></li>
                </ul></li>
                <li class="last leaf menu-mlid-1916"><a href="/whats-new/jobs" title="">工作</a></li>
              </ul></div>
            </div>
          </div>
          <div class="banner__panel">
            <div class="region region-sidebar-banners">
              <div id="banner"><a class="link" href="/shop/supplements"><%= image_tag "origin/VEG1_426_new.png", alt:"The Vegan Shop" %></a></div>  
            </div>
          </div>
        </aside>

      </div>   
    </section>
    <%= render "info_social" %>
    <%= render "footer" %>
  </div>
  <%= render "mobile_nav_list" %>
  <%= javascript_include_tag 'origin/js_Dpwj9_' %> 
</div>
<%= render "cbox_overlay" %>