<div class="site">
  <div class="site-container">    
    <div id="skip-link">
      <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <%= render "header" %>
    <header class="page-title" style="background-image: url(<%= @node.banner ? @node.banner.image_url(:on_use) : image_url("try-vegan.jpg") %>);">
      <div class="skew">
        <div class="container">
          <h1>
            <%= @node.title %>        
          </h1>
        </div>
      </div>
    </header>
    <section class="page basic">  
      <div class="container">
        <div class="page-content">
          <div class="custom-breadcrumbs">
            <h2 class="element-invisible">You are here</h2>
            <div class="breadcrumb">
              <a href="/">首页</a>
              <% if @node.ancestors[1, 100].present? %>
              <% @node.ancestors[1, 100].each do |parent| %>
              » <a href="/nodes/<%= parent.id %>"><%= parent.title %></a>
              <% end %>
              <% end %>
            </div> » <%= @node.title %>            
          </div>
          <div class="region region-content">
            <div id="node-442" class="node node-product node-promoted node-full clearfix" about="/shop/accessories/vegan-society-enamel-badge" typeof="sioc:Item foaf:Document">
              <div class="content clearfix">
                <div class="product-info display-price uc-product-442"><span class="uc-price">￥<%= @node.product.price %></span></div>
                <div class="product-info model">
                  <span class="product-info-label">货号:</span> 
                  <span class="product-info-value"><%= @node.product.sku %></span>
                </div>
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                  <div class="field-items">
                    <div class="field-item even" property="content:encoded">
                      <%= @node.product.summary %>
                    </div>
                  </div>
                </div>
                <div class="product-info list-price"><span class="uc-price-label">价格:</span> <span class="uc-price">￥<%= @node.product.price %></span></div>
                <div class="field field-name-field-image field-type-image field-label-hidden">
                  <div class="field-items">
                    <div class="field-item even">
                    <a href="<%= image_url @node.cover_url(:on_use) %>" title="The Vegan Society Enamel Badge" class="colorbox init-colorbox-processed cboxElement" rel="gallery-node-442">
                        <img typeof="foaf:Image" src="<%= image_url @node.cover_url(:on_use) %>" width="419" height="204" alt="" title="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="product-info sell-price"><span class="uc-price-label">价格 :</span> <span class="uc-price">￥<%= @node.product.price %></span></div>
                <div class="uc-product-442 product-info weight"><span class="product-info-label">重量 :</span> <span class="product-info-value"><%= @node.product.weight %> kg</span></div>
                <div class="product-info dimensions"><span class="product-info-label">规格 :</span> <span class="product-info-value"><%= @node.product.dimensions %></span></div>
                <div class="add-to-cart">
                  <form action="/shop/accessories/vegan-society-enamel-badge" method="post" id="uc-product-add-to-cart-form-442" accept-charset="UTF-8" class="uc-out-stock-processed">
                    <div>
                      <div class="form-item form-type-uc-quantity form-item-qty">
                        <label for="edit-qty">库存 <span class="form-required" title="This field is required.">*</span></label>
                        <input type="text" id="edit-qty" name="qty" value="1" size="5" maxlength="6" class="form-text required">
                        <div class="uc-out-of-stock-instock">584 in stock</div>
                      </div>
                      <input type="hidden" name="form_build_id" value="form-fTL3Kon8YfrM8wOsG7-75o8xbQGi5aXlzxW9fEa5NFA">
                    </div>
                  </form>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <aside class="page-sidebar--right">
          <div class="sub-nav"> 
            <div class="region region-sidebar-menu">
              <%= render "right_menu" %>
            </div>
          </div>
          <div class="banner__panel">
            <div class="region region-sidebar-banners">
              <div id="banner"><a class="link" href="/nodes/21"><img class="jpg" alt="The Vegan Shop" src="http://www.vegansociety.com/sites/default/files/banners/VEG1_426_new.png"></a></div>  
            </div>
          </div>        
        </aside>
      </div>
    </section>
    <%= render "info_social" %>
    <%= render "footer" %>
  </div>
  <%= render "mobile_nav_list" %>   
  <%= javascript_include_tag 'origin/js_Dpwj9_' %> 
</div>