<div class="site">
  <div class="site-container">    
    <div id="skip-link">
      <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <%= render "header" %>
    <header class="page-title" style="background-image: url(<%= @node.banner ? @node.banner.image_url(:on_use) : 'http://www.vegansociety.com/sites/default/files/shop_0.jpg' %>);">
      <div class="skew">
        <div class="container">
          <h1>
            <%= @node.title %>       
          </h1>
        </div>
      </div>
    </header>
    <section class="page">  
      <div class="container">
        <div class="page-content">

          <div class="custom-breadcrumbs">
            <h2 class="element-invisible">你在这：</h2>
            <div class="breadcrumb">
              <a href="/">首页</a>
              <% if @node.ancestors[1, 100].present? %>
              <% @node.ancestors[1, 100].each do |parent| %>
              » <a href="/nodes/<%= parent.id %>"><%= parent.title %></a>
              <% end %>
              <% end %>
            </div> » <%= @node.title %> 
          </div>

          <div class="block-list list4">
            <div class="region region-content">
              <div id="node-39" class="node node-list4 node-full clearfix" about="/resources/lifestyle" typeof="sioc:Item foaf:Document">
                <div class="content clearfix">
                  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even" property="content:encoded">
                        <h2><%= @node.title %></h2>
                        <p><%= @node.desc %></p>
                      </div>
                    </div>
                  </div>

                  <% @node.children.each do |node| %>
                  <div class="block-list__panel">
                    <div class="block-list__image">
                      <a href="/nodes/<%= node.id %>"><%= image_tag node.cover_url(:on_use), width: 724, height: 352, typeof: "foaf:Image" %></a>
                    </div>   
                    <h2 class="block-list__title">
                      <a href="/nodes/<%= node.id %>"><%= node.title %></a> 
                    </h2> 
                    <div class="block-list__excerpt">
                      <p><%= node.desc %><a href="/nodes/<%= node.id %>" class="more-link">(阅读更多)</a></p> 
                    </div>  
                  </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>

        <aside class="page-sidebar--right">
          <div class="sub-nav"> 
            <div class="region region-sidebar-menu">
              <%= render "right_menu" %>
            </div>
          </div>
          <div class="banner__panel">
            <div class="region region-sidebar-banners">
              <div id="banner"><a class="link" href="/shop/supplements"><img class="jpg" alt="The Vegan Shop" src="http://www.vegansociety.com/sites/default/files/banners/VEG1_426_new.png"></a>
              </div>  
            </div>
          </div>        
        </aside>
      </div>   
    </section>

    <%= render "info_social" %>
    <%= render "footer" %>
  </div>
  <%= render "mobile_nav_list" %>
  <%= javascript_include_tag 'origin/js_Dpwj9_' %> 
</div>
<%= render "cbox_overlay" %>