<%= stylesheet_link_tag 'new', media: 'all' %>
<div class="site">
<div class="site-container">    
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  <%= render "header" %>
  <section class="news_page">
    <div class="container">
      <div class="news_banner"><%= image_tag "banner_news.jpg" %></div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="news_box clearfix">
        <div class="news_link">
          <p>
            <a href="#"><span class="icon-bag"></span><br /><b class="theme_title">市场活动市场活动活动哈哈</b></a>
          </p>
        </div>
        <div class="news_link">
          <p>
            <a href="#"><span class="icon-earth"></span><br /><b class="theme_title">市场活动市场活动活动哈哈</b></a>
          </p>
        </div>
        <div class="news_link">
          <p>
            <a href="#"><span class="icon-gift"></span><br /><b class="theme_title">市场活动市场活动活动哈哈</b></a>
          </p>
        </div>
        <div class="news_link">
          <p>
            <a href="#"><span class="icon-people"></span><br /><b class="theme_title">市场活动市场活动活动哈哈</b></a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <%= render "info_social" %>
  <%= render "footer" %>
</div>
<div class="mobile-nav-list">
  <ul class="mobile-site-nav">
    <li class="menu-1092 active-trail first active"><a class="active-trail active" href="http://www.vegansociety.com/whats-new" title="">What's New?</a></li>
    <li class="menu-1027"><a href="http://www.vegansociety.com/try-vegan" title="">Try vegan</a></li>
    <li class="menu-1034"><a href="http://www.vegansociety.com/take-action" title="">Take action</a></li>
    <li class="menu-1046"><a href="http://www.vegansociety.com/resources" title="">Resources</a></li>
    <li class="menu-1060"><a href="http://www.vegansociety.com/your-business" title="">Your Business</a></li>
    <li class="menu-1066"><a href="http://www.vegansociety.com/society" title="">The Society</a></li>
    <li class="menu-1150 last"><a href="http://www.vegansociety.com/shop" title="">Shop</a></li>
  </ul>
</div>
<%= javascript_include_tag 'origin/js_Dpwj9_' %> 
</div>
<div style="display: none;" id="cboxOverlay"></div>
<div style="display: none;" tabindex="-1" role="dialog" class="" id="colorbox">
<div id="cboxWrapper">
  <div>
    <div style="float: left;" id="cboxTopLeft"></div>
    <div style="float: left;" id="cboxTopCenter"></div>
    <div style="float: left;" id="cboxTopRight"></div>
  </div>
  <div style="clear: left;">
    <div style="float: left;" id="cboxMiddleLeft"></div>
    <div style="float: left;" id="cboxContent">
      <div style="float: left;" id="cboxTitle"></div>
      <div style="float: left;" id="cboxCurrent"></div>
      <button id="cboxPrevious" type="button"></button>
      <button id="cboxNext" type="button"></button>
      <button id="cboxSlideshow"></button>
      <div style="float: left;" id="cboxLoadingOverlay"></div>
      <div style="float: left;" id="cboxLoadingGraphic"></div>
    </div>
    <div style="float: left;" id="cboxMiddleRight"></div>
  </div>
  <div style="clear: left;">
    <div style="float: left;" id="cboxBottomLeft"></div>
    <div style="float: left;" id="cboxBottomCenter"></div>
    <div style="float: left;" id="cboxBottomRight"></div>
  </div>
</div>
<div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div></div>