<div class="site">
  <div class="site-container">    
    <div id="skip-link">
      <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <%= render "header" %>

    <section class="hero flexslider">
      <ul class="slides">
        <li>
          <div class="container skew">
            <a href="javascript:void(0);"><h2 class="hero__title">&nbsp;</h2></a>
          </div>
          <%= image_tag "origin/A_voice_for_animals_HORSE_1920_x_650_300KB.jpg", width: "1920", height: "650", draggable: "true", typeof: "foaf:Image", class: "hero__image" %>
        </li>
        <li>
          <div class="container skew">
            <a href="/nodes/3"><h2 class="hero__title">Run Vegan</h2></a>
            <a class="button hero__button" href="/nodes/3">Find out more</a>
          </div>
          <%= image_tag "origin/RV_HeroSlide.jpg", width: "1920", height: "650", draggable: "true", typeof: "foaf:Image", class: "hero__image" %>
        </li>
        <li>
          <div class="container skew">
            <a href="/nodes/1"><h2 class="hero__title">vegan标准</h2></a>

            <a class="button hero__button" href="/nodes/1">Get the trademark</a>
          </div>
          <%= image_tag "origin/shutterstock_94440970.jpg", width: "1920", height: "650", draggable: "true", typeof: "foaf:Image", class: "hero__image" %>
        </li>
      </ul>
    </section>

    <section class="page try-it">
      <div class="skew">    
        <div class="container">

          <aside class="page-sidebar">
            <h2 class="try-it__title">
              <a href="/nodes/76">尝试它一个月</a>
            </h2>


            <p>我们在这里帮你“尝试素食”一个月或一周</p>
            <a href="/nodes/76" class="button try-it__button">去看看!</a>
          </aside>

          <div class="page-content index-page-content">
            <div class="block-list__panel index-block-list">
              <div class="block-list__image">
                <a href="javascript:void(0)"><%= image_tag "origin/WhyGoVegan_724x352.jpg", width: "724px", height: "352px" ,alt:"" ,typeof:"foaf:Image" %></a>
              </div>  
              <h2 class="block-list__title"><a href="/nodes/19">为什么选择素食</a></h2>  
              <div class="block-list__excerpt">
                <p>对动物以及我们的地球来说，素食是更健康、更绿色、更环保的饮食方式</p>
              </div>  
            </div>
            <div class="block-list__panel index-block-list">
              <div class="block-list__image">
                <a href="javascript:void(0)"><%= image_tag "origin/Definition_724x352.jpg", width: "724px", height: "352px" ,alt:"" ,typeof:"foaf:Image" %></a>
              </div>  
              <h2 class="block-list__title"><a href="/nodes/18">素食主义的定义</a></h2>  
              <div class="block-list__excerpt">
                <p>什么是素食者？什么是素食？素食主义意味着什么？</p>
              </div>  
            </div>
          </div>

        </div>

        <div class="container">
          <div class="block-list list1">
            <div class="region region-content">


              <div id="node-40" class="node node-page node-full clearfix" about="/one-world-many-lives-our-choice" typeof="foaf:Document">

                <div class="content clearfix">

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="take-action">
      <div class="skew">    
        <div class="container">

          <aside class="page-sidebar--right">
            <h2 class="take-action__title">
              <a href="/nodes/56">采取行动</a>
            </h2>
            <p class="take-action__excerpt take-action__intro">有许多事你们可以做,通过积极重要的方式来帮助促进素食主义。</p>
          </aside>

          <div class="page-content">
            <div class="take-action__inner-container">
              <div class="take-action__panel">
                <h3 class="take-action__sub-title">
                  <a href="/nodes/3">热爱素食生活</a>
                </h3>
                <p class="take-action__excerpt">不仅仅是素食主义者喜欢素食生活，每个人都会喜欢的。</p>
                <a href="/nodes/3" class="button take-action__button">喜欢</a>
              </div>
              <div class="take-action__panel">
                <h3 class="take-action__sub-title">
                  <a href="/nodes/21">志愿者</a>
                </h3>
                <p class="take-action__excerpt">有很多跟我们做志愿的方式。</p>
                <a href="/nodes/21" class="button take-action__button volunteer-sign-up">报名参加</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <%= render "info_social" %>
    <%= render "footer" %>
  </div>
  <%= render "mobile_nav_list" %>
  <%= javascript_include_tag 'origin/js_Dpwj9_' %> 
</div>
<%= render "cbox_overlay" %>